<% provide(:title, 'Sign up') %>

<div class="span4 offset4">
  <%= form_for(@user) do |f| %>
    <label>New to Focus? Sign up</label><br>
    <%= render 'shared/error_messages' %>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <% end %>
</div>